html{
    font: 400 62.5% 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.wrapperContainer-dark{
    background-color: rgb(52, 52, 52);
}
.wrapperContainer-dark2{
    background-color: #003464;
}
.wrapperContainer-hero{
    background-image: linear-gradient(#ff8888, #bb0000 );
}
.wrapperContainer-light{
    background-color: #f5f5f5;
}
.container{
    max-width: 160rem ;
    margin: auto;
}
.padding{
    padding-top: 10rem;
}
.margin-top{
    margin: 3rem auto 0;
}
body{
    margin: 0;
    padding: 0;
}
/* começo do header */
header{
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.header-position{
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 10px black;
}
header .navegacao{
    padding: 0;
    list-style-type: none;
    font-size: 1.7rem;
    display: flex;
    gap: 16px;
    text-transform: uppercase;
}
header .navegacao li a{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid red;
}
header .navegacao li a:hover{
    background-color: rgb(0, 0, 0, .6);
}
/* fim do header */

/* começo do hero-bunner */
.hero-bunner{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.hero-bunner img{
    max-height: calc(100vh - 9.8rem);
    }
.hero-bunner__text h1{
    font-size: 6rem;
    width: 20ch;
    font-weight: bold;
    margin-bottom: 4rem;
}
.hero-bunner__text a{
    font-size: 2rem;
    color: black;
    text-decoration: none;
    background-color: rgb(200, 200, 200);
    padding: 2rem 6rem;
    border-radius: 5rem;
    display: inline-block;
    border: 2px solid black;
}
.hero-bunner__text a:hover{
    background-color: rgba(150, 150, 150, 0.805) ;
    border-radius: 5rem;

}
/* fim do hero-bunner */

/* começo do cursos */
.cursos{
    min-height: 100vh;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.cursos h1 {
    font-size: 5rem;
    margin: 7rem 0 ;
    text-align: center;
}
.cursos h2{
    font-size: 5rem;
    margin: 10rem 0 0 0;
    text-align: center;
    margin-bottom: 3rem;
}
.cursos-conteiner{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.cursos-card{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    width: 50rem;
}
.cursos-card img{
    display: block;
    width: 100%;
    border-bottom: 0.1rem solid black;
}
.cursos-card__text{
    padding: 4rem 3rem;
    
}
.cursos-card__text h3{
    font-size: 3rem;
    margin: 0;
}
.cursos-card__text p{
    font-size: 2.5rem;
    color: rgb(126, 126, 126);
    line-height: 2.7rem;
}
.cursos a{
    font-size: 2.7rem;
    color: black;
    text-decoration: none;
    background-color: gold;
    padding: 2rem 4rem;
    border-radius: 2rem;
    display: inline-block;
    margin: 0 0 10rem;
}
.cursos a:hover{
    text-decoration: underline black;
}
/* fim do cursos */

/* inicio da escola */

.escola{
    width: 100%;
    display: flex;
    gap: 25rem;
    padding: 1rem;
    justify-content: space-around;
} 
.escola__text{
    color: white;
}
.escola__text h2{
    font-size: 4rem;
    width: 80%;
}
.escola__text p{
    font-size: 2rem;
    line-height: 3rem;
    width: 80%;
}
/* fim da escola */

/* início do contatos */
.contatos{
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 1px;
    display: flex;
    flex-direction: column;    
}
.contatos h1{    
    font-size: 5rem;
    margin: 7rem 0 ;
    text-align: center;

}

#contatos address{
    font-size: 2rem;
    display: block;
    width: fit-content;
    margin: 10rem 0 0 auto;
    line-height: 2.5rem;
    font-style: normal;
}
/* fim do contatos */

/* inicio do footer */
footer{
    padding: 4.5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* fim di footer */
